@font-face {
    font-family: "Poppins";
    src: url("./C.Fonts/Poppins-Regular.woff") format("woff");
    font-weight: 400;

}
@font-face {
    font-family: "Poppins";
    src: url("./C.Fonts/Poppins-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url("./C.Fonts/Poppins-SemiBold.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "Poppins";
    src: url("./C.Fonts/Poppins-Bold.woff") format("woff");
    font-weight: 700;
}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins" ;
}

.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;
}

.items-center {
    align-items: center;
}

.center-text {
    text-align: center;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --text-color1: #151517;
    --yellow-color: #EEBF63;
    --text-color2: #828282;
    --text-color3: #2F2F2F;
}

h1.name__text {
    font-size: 22px;
    font-weight: bold;
    line-height: 33px;
    color: var(--text-color1);
}.icon--section {
    background-color: #f53855;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 120%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
    border: 1px solid #111;
    border-top-left-radius: 12px;
}

.sidenav a {
    padding: 28px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 35px;
    cursor: pointer;
}

@media screen and (min-width: 1280px) {
    .mobile-view {
        display: none;
    }
}

@media screen and (max-width: 1279.98px) {
    .desktop-menu {
        display: none !important;
    }
}




.first__section {
    background-color: #f1f1f1;
}

.first__section .top__padding {
    padding: 24px 90px 32px 150px;
}

ul#horizontal__list {
    margin-left: auto;
}
 
 ul#horizontal__list li {
    display: inline-block;
    padding: 0 0 0 60px;
}
 
 .ft-500 {
    font-weight: 500;
}
 
 ul#horizontal__list li a {
    color: var(--text-color1);
    font-size: 14px;
}

ul#horizontal__list li a.project {
    color: var(--yellow-color);
}

.projects__section {
    margin-top: 64px;
    padding-bottom: 88px;
}



.projects__section h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: #000000;
    
}

.projects__section p {
    font-weight: 600;
    font-size: 32px;
    line-height: 54px;
    cursor: pointer;
} 

.projects__section p.wb-design {
    color: var(--yellow-color);
    border-bottom: 4px solid var(--yellow-color);

}

.projects__section p.app-design, 
.projects__section p.free {
    margin-left: 48px;
    color: var(--text-color2);
}

.mg-top-32 {
    margin-top: 32px;
}

.study-case {
    background-image: url("img/layers.svg");
    background-repeat: no-repeat;
    padding-left: 32px;
}

.study-case a,
.live-preview a {
    font-weight: 500;
    line-height: 24px;
    color: var(--text-color1);

} 

.study-case a,
.live-preview a {
    font-size: 14px;
}


.live-preview {
    background-image: url("img/show.svg");
    background-repeat: no-repeat;
    padding-left: 38px;
    background-position: 0 6px; 
}

.mg-left-42 {
    margin-left: 42px;
}
.mg-top-12 {
    margin-top: 12px;
}

.ui-portfolio__section p {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #1c1c1c;
    margin-top: 12px;
}

.mg-top-80 {
    margin-top: 80px;
}

.working__section {
    margin-bottom: 88px;
}

.working__section .working__section__wrapper {
    padding: 44px 92px 42px 80px ;
    background-color: var(--yellow-color);
    border-radius: 24px;

}

.working-text {
    font-weight: 600;
    line-height: 62px;
    font-size: 48px;
    color: white;
}

.working__section button.mail-me-btn {
    background-image: url("img/mail.svg");
    background-repeat: no-repeat;
    background-position: 40px 22px;
    width: 230px;
    padding-left: 32px;
    background-color: white;
    border: 1px solid white;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    height: 70px;
    border-radius: 12px;
}

.working__section button.mail-me-btn a {
    color: var(--text-color3);
}



footer img {
    margin-right: 22px;
}

footer p.footer-text1 {
    font-size: 36px;
    line-height: 46px;
    color: var(--text-color3);
}

footer p.footer-text2 {
    font-size: 24px;
    line-height: 36px;
    color: var(--text-color3);
    cursor: pointer;
}

@media screen and (max-width: 1279.98px) {
    .first__section .top__padding{
        padding: 24px 8px 32px 12px;
    }
}
@media screen and (min-width: 1280px) and (max-width: 1329.98px) {
    .first__section .top__padding{
        padding-left: 80px;
    }
}

@media screen and (max-width: 767.98px) {
    .projects__section p {
        font-size: 12px;
        line-height: 24px;
    }

    .ui-portfolio__section,
    .working__section .working__section__wrapper {
        align-items: flex-start;
    } 
    .ui-portfolio__section img {
        width: 100%;
    }

    .sm {    /* small device */
        flex-direction: column;
    }
    .sm-mg-top {
        margin-top: 48px;
    }

    .working__section .working__section__wrapper {
        padding: 12px;
    }

    .working__section button.mail-me-btn {
        margin-top: 12px;
    }
    footer .media-link__page, footer .footer-text2 {
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .md {    /*mdium-device */
       flex-direction: column;
    }
    .ui-portfolio__section {
        align-items: flex-start;
    }
    .working__section .working__section__wrapper {
        padding: 44px 12px;
    }

    .sm-mg-top {
        margin-top: 48px;
    }
}

@media screen and (min-width: 1600px) {
    .first__section .top__padding{
        padding-left: 260px;
        padding-right: 240px;
    }
}

 